{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduVision IA</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
    <script>
        function openAbout() {
            document.getElementById('about-modal').style.display = 'block';
            document.body.style.overflow = 'hidden'; // Previne scroll da página
        }
        
        function closeAbout() {
            document.getElementById('about-modal').style.display = 'none';
            document.body.style.overflow = 'auto'; // Restaura scroll da página
        }
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>